<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Adedoyinbeaconofhopefoundation | Projects </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Charity organization in Nigeria, Non-profit in Nigeria, Nigerian charity donations, Support for Nigerian communities, Help Nigerian children, Volunteer in Nigeria, Aid for Nigeria, Nigerian community outreach, Nigerian NGO, Philanthropy in Nigeria">
    <meta name="keywords" content="Donate to Nigeria, Nigerian orphanage support, Education for Nigerian children, Health care in Nigeria, Feeding programs in Nigeria, Nigerian charity events, Relief programs Nigeria, Nigerian non-profit organizations, Empower Nigerian youth, Poverty alleviation Nigeria">
    <meta name="keywords" content="Charity projects in Nigeria, Nigerian humanitarian aid, Sponsor Nigerian students, Nigerian rural development, Charity foundation Nigeria, Community development in Nigeria, Nigerian charity network, Help Nigeria, Support Nigerian families, Nigerian charity mission">
    <meta name="keywords" content="NGOs in Nigeria, Nigerian charity projects, Health initiatives Nigeria, Child welfare in Nigeria, Fundraising Nigeria, Charity donations Nigeria, Fight hunger Nigeria, Sustainable development Nigeria, Nigerian charity partners, Community outreach Nigeria">
    <meta name="keywords" content="Empowering Nigerians, Sponsor Nigerian children, Nigerian aid organization, Nigerian food distribution, Nigerian water project, Education charity Nigeria, Nigerian charity website, Volunteer opportunities Nigeria, Social impact Nigeria, NGO donation Nigeria">
    <meta name="keywords" content="Healthcare support Nigeria, Nigerian poverty solutions, Volunteer with Nigerian charities, Nigerian social work, African charity support, Nonprofit organizations in Nigeria, Helping Nigerians, Educational support Nigeria, Donate for Nigeria, Community health Nigeria">
    <meta name="keywords" content="Nigerian community aid, Nigerian charity support, Sustainable aid Nigeria, Rural Nigerian aid, Help African communities, Food aid Nigeria, Nigerian charity donations, Orphan care Nigeria, Nigerian disaster relief, Nigerian charity drives">
    <meta name="keywords" content="Nigeria charity sponsorship, Nigerian children aid, Social development Nigeria, Nigerian NGO charity, Support rural Nigeria, Aid for Nigerian healthcare, Feeding the hungry Nigeria, Nigerian welfare support, Poverty reduction Nigeria, Charity partners Nigeria">
    <meta name="keywords" content="Educational charity Nigeria, Nigerian NGO funding, Volunteer charity work Nigeria, Help Nigerian women, Community upliftment Nigeria, Nigerian aid support, Charity donations in Nigeria, Healthcare improvement Nigeria, Empowering Nigerian communities, Donate to Africa Nigeria">
    <meta name="keywords" content="Nigeria relief programs, Sponsor Nigerian programs, Donate for Nigerian causes, Charity organizations Lagos, Nigerian grassroots charity, Nigerian foundation support, Fundraising campaigns Nigeria, Helping communities in Nigeria, Sustainable charity Nigeria, NGO charity Nigeria">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

	<!-- CSS here -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/animated-headline.css">
	<link rel="stylesheet" href="/css/magnific-popup.css">
	<link rel="stylesheet" href="/css/fontawesome-all.min.css">
	<link rel="stylesheet" href="/css/themify-icons.css">
	<link rel="stylesheet" href="/css/slick.css">
	<link rel="stylesheet" href="/css/nice-select.css">
	<link rel="stylesheet" href="/css/style.css">
	<style>
	    .hero-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding:50px 50px 50px 50px;
      background-color: #f8f8f8; /* Peach #ffdab9 background */
      height:450px;
    }

    .hero-text {
      flex: 1;
      padding-right: 30px;
    }

    .hero-text h2 {
      
      color: green;
    }

    .hero-text p {
      font-size: 1.2rem;
      color: #333;
      margin-top: 15px;
      line-height: 1.6;
    }

    .hero-image {
      flex: 1;
    }

    .hero-image img {
      max-width: 100%;
      height: auto;
    }

    /* Responsive Styling for Mobile */
    @media screen and (max-width: 768px) {
      .hero-section {
        flex-direction: column;
        text-align: center;
        padding: 20px;
      }

      .hero-text {
        padding-right: 0;
      }

      .hero-text h1 {
        font-size: 2rem; /* Shrink font size on mobile */
      }

      .hero-text p {
        font-size: 1rem; /* Shrink font size on mobile */
      }

      .hero-image {
        margin-bottom: 20px;
      }
    }
	</style>
</head>

<body>
<!-- ? Preloader Start -->
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="/img/logo123.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>     
                                        <li>Phone: +234 814 307 4296 </li>
                                        <li>Email:.info@Adedoyinbeaconofhopefoundation.com.ng</li>
                                    </ul>
                                    <div class="header-social">    
                                        <ul>
                                            <li><a href="https://www.twitter.com/Adbeaconhope"><i class="fab fa-twitter"></i></a></li>
                                            <li><a  href="https://www.facebook.com/profile.php?id=61565802729249"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="https://www.linkedin.com/in/adedoyin-foundation-718a1932b/"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="https://www.instagram.com/adbeaconhope"><i class="fab fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                                    <option value="">English</option>
                                                    <option value="">Bangla</option>
                                                    <option value="">Arabic</option>
                                                    <option value="">Hindi</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">     
                                        <li><a href="#">Subscribe Now</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="/"><img height="80px"src="/img/logo123.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="/">Home</a></li>
                                                <li><a href="/about">About</a></li>
                                                <li><a href="/programs">latest causes</a></li>
                                                <li><a href="/gallery">Gallery </a></li>
                                                <li><a href="">Blog</a>
                                                    <ul class="submenu">
                                                        <li><a href="">Blog</a></li>
                                                        <li><a href="">Blog Details</a></li>
                                                        <li><a href="">Element</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="/contact">Contact</a></li>
						 <li><a href="/donate">Donate</a></li>   
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="/donate" class="btn header-btn">Donate</a>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
   <main>
      <!--? Hero Start -->
      <div class="slider-area2">
         <div class="slider-height2 d-flex align-items-center">
               <div class="container">
                  <div class="row">
                     <div class="col-xl-12">
                           <div class="hero-cap hero-cap2 pt-20 text-center">
                              <h4>Our Projects.</h4>
                           </div>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      <!-- Hero End -->
      <!--? Blog Area Start -->
<section class="blog_area single-post-area section-padding">
   <div class="container">
      <div class="row">
         <div class="col-lg-8 posts-list">
            <div class="single-post">
               <div class="feature-img">
                  <img class="img-fluid" src="assets/img/ala1.jpeg" alt="Alagbaka Estate Primary School Renovation">
               </div>
               <div class="blog_details">
                  <h2 style="color: #2d2d2d;"> Alagbaka Estate Primary School Toilet Renovation 2025</h2>
                  
                  <p class="excert">
                     <strong>Adedoyin Beacon of Hope Foundation (ABHF)</strong> is committed to creating a cleaner, safer, and more hygienic 
                     environment for students and staff at <strong>Alagbaka Estate Primary School, Akure, Ondo State, Nigeria</strong>. 
                     The current restroom facilities suffer from outdated fixtures, poor plumbing, and sanitation issues that 
                     impact daily use and overall hygiene.
                  </p>

                  <div class="quote-wrapper">
                     <div class="quotes">
                        <h3>Project Goals</h3>
                        The goal of this project is to renovate and modernize the school’s restroom facilities to ensure better hygiene and comfort. ABHF plans to:
                     </div>
                  </div>

                  <ul>
                     <li><strong>Upgrade plumbing systems:</strong> Prevent leaks and improve water efficiency.</li>
                     <li><strong>Replace old fixtures:</strong> Install modern, durable toilets, sinks, and urinals.</li>
                     <li><strong>Improve ventilation:</strong> Enhance air quality and reduce odors.</li>
                     <li><strong>Enhance hygiene:</strong> Install touchless faucets, soap dispensers, and hand dryers.</li>
                     <li><strong>Refurbish flooring and tiles:</strong> Improve durability and make maintenance easier.</li>
                     <li><strong>Ensure accessibility:</strong> Incorporate ADA-compliant features for inclusive access.</li>
                  </ul>

                  <h3 style="margin-top:50px">Project Budget & Timeline</h3>
                  <p>
                     The estimated cost for the renovation is <strong>#2,176,040</strong>, covering materials, labor, and contingencies. 
                     The project will commence as soon as the necessary donations are secured, ensuring minimal disruption to school activities.
                  </p>

                  <h3 style="margin-top:50px">Impact of the Renovation</h3>
                  <p>
                     This renovation will significantly improve restroom conditions, creating a cleaner and healthier environment for students and staff. 
                     Better hygiene facilities will reduce the risk of illness, enhance students’ comfort, and contribute to a more conducive learning atmosphere.
                  </p>

                  <h3 style="margin-top:50px">How You Can Help</h3>
                  <p>
                     Your support is essential to making this project a reality. We seek donations and funding to move forward with this crucial upgrade. 
                     Whether through financial contributions or material support, <strong>you</strong> can help transform the school’s restrooms into a 
                     safe and hygienic space for the children of Alagbaka Estate Primary School.
                  </p>

                  <p>
                     For donations and inquiries, please reach out to <strong>Adedoyin Beacon of Hope Foundation (ABHF)</strong>. 
                     Together, we can make a lasting impact on the lives of these students.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

	
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala2.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala3.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala4.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala5.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala6.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala7.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala8.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
            <div class="col-6 col-lg-3 mb-4">
                <div class="card">
                    <img src="assets/img/ala9.jpeg" class="card-img-top" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
	</main>
           <footer>
        <div class="footer-wrapper section-bg2" data-background="/img/gallery/footer_bg.png">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="/"><img height="150px" src="/img/logo123.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Address :25 Iyalode Abosede Ewuelepe,Ikorodu Lagos, Nigeria </p>
                                        </li>
         <li>
         <a Phone : href="+2347030955421"></a>
         </li>
        <li>
           <a href="#"> Email : info@Adedoyinbeacono<br>
           fhopefoundation.com.ng
         </a>
        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Important Links</h4>
                                    <ul>
                                        <li><a href="/programs"> Our Projects</a></li>
                                        <li><a href="/contact">Contact Us</a></li>
                                        <li><a href="/volounteer">volounteer</a></li>
                                        
                                        <li><a href="/donate">Support us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Newsletter</h4>
                                    <div class="footer-pera footer-pera2">
                                    <p>.</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form" >
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                            class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                class="email_icon newsletter-submit button-contactForm"><img src="assets/img/gallery/form.png" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		<!-- WhatsApp Widget -->
<div id="whatsapp-widget" style="position: fixed; bottom: 20px; right: 20px; z-index: 1000;">
  <a
    href="https://wa.me/2348143074296?text=Hello!%20I%20would%20like%20to%20know%20more."
    target="_blank"
    style="text-decoration: none; display: flex; align-items: center; background-color: #25D366; color: white; border-radius: 50px; padding: 10px 15px; font-family: Arial, sans-serif; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);"
  >
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg"
      alt="WhatsApp"
      style="width: 30px; height: 30px; margin-right: 10px;"
    />
    <span>Chat with us on WhatsApp</span>
  </a>
</div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right">
<p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Adedoyinbeaconofhopefoundation. 
 </p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3">
                                <div class="footer-social f-right">
                                    <a href="https://www.twitter.com/Adbeaconhope"><i class="fab fa-twitter"></i></a>
                                    <a  href="https://www.facebook.com/profile.php?id=61565802729249"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>
      <!-- JS here -->

      <script src="/js/vendor/modernizr-3.5.0.min.js"></script>
      <!-- Jquery, Popper, Bootstrap -->
      <script src="/js/vendor/jquery-1.12.4.min.js"></script>
      <script src="/js/popper.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <!-- Jquery Mobile Menu -->
      <script src="/js/jquery.slicknav.min.js"></script>

      <!-- Jquery Slick , Owl-Carousel Plugins -->
      <script src="/js/owl.carousel.min.js"></script>
      <script src="/js/slick.min.js"></script>
      <!-- One Page, Animated-HeadLin -->
      <script src="/js/wow.min.js"></script>
      <script src="/js/animated.headline.js"></script>
      <script src="/js/jquery.magnific-popup.js"></script>

      <!-- Date Picker -->
      <script src="/js/gijgo.min.js"></script>
      <!-- Nice-select, sticky -->
      <script src="/js/jquery.nice-select.min.js"></script>
      <script src="/js/jquery.sticky.js"></script>
      
      <!-- counter , waypoint,Hover Direction -->
      <script src="/js/jquery.counterup.min.js"></script>
      <script src="/js/waypoints.min.js"></script>
      <script src="/js/jquery.countdown.min.js"></script>
      <script src="/js/hover-direction-snake.min.js"></script>

      <!-- contact js -->
      <script src="/js/contact.js"></script>
      <script src="/js/jquery.form.js"></script>
      <script src="/js/jquery.validate.min.js"></script>
      <script src="/js/mail-script.js"></script>
      <script src="/js/jquery.ajaxchimp.min.js"></script>
      
      <!-- Jquery Plugins, main Jquery -->	
      <script src="/js/plugins.js"></script>
      <script src="/js/main.js"></script>
     
    </body>
 </html>
